@font-face {
    font-family: 'melted';
    src: url(../fonts/melted-font/MeltedPersonalUseBold-2OG4w.ttf) format('truetype');
}
::selection {
    background-color: rgb(0, 0, 0); /* Background color of the selected text */
    color: #FFFFFF; /* Text color of the selected text */
}
@font-face {
    font-family: 'wobble';
    src: url(../fonts/super-woobly-font/SuperWoobly-8MJlz.ttf) format('truetype');
}
body{
    margin: 0;
}
.navbar{
    width: 100%;
    height: 12vh;
    background-color:black ;
}

.main-container{
    height: 90.6vh;
    margin-top: -2vh;
    background-color: beige;
    border-top-right-radius:18px ;
    border-top-left-radius: 18px ;
}

.wonderla{
    margin-top: -103.5vh;
    color: aliceblue;
    margin-left: 120px;   
    font-size: x-large;
    display: flex;
}


.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.2rem;
    width: 300px;
    font-size: 14px;
  }

  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    height: 40px;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
  }
  

 
.profile{
    width: 250px;
    height: 55px;
    border-radius: 20px;
    margin-left: 75vw;
    margin-top: -80px;
    
}

.navbutton{
    cursor: pointer;
    border: none;
    height: 35px;
    width: 70px;
    background-color: transparent;
    transition: 0.3s ease;
}

.navbutton:hover{
    transform:scale(1.6);
    background-color:black;
    color: white;
}
.explore:focus {
    outline: none;
}

.explore{
    font-weight: 1000;
    font-size: 17px;
    transition: all 250ms;
    cursor: pointer;
    appearance: none;
    text-align: center;
    width: 150px;
    height: 55px;
    border-radius: 20px;
}

.explore::before {
    content: "";
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    transition: all 250ms
}
.explore:hover {
    background-color: #212121;
    color: #e8e8e8;
}
.explore:hover::before {
 width: 100%;
}

.form{
    margin-top: 20vh;
    margin-left: 11vw;
    background-image: url('https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_698,h_698/v1683919251/assets/42/a29147-e043-42f9-8544-ecfffe0532e9/original/travel-ilustra.png');    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 80vh;
    width: 40vw;
    transition:  0.3s ease;
}

.form:hover{
    transform: scale(1.05);
}

#h1log{
    transition:  0.3s ease;
}

#h1log:hover{
    transform: scale(1.08); 
}

.input-div{
    margin-left: 65vw;
    margin-top: -90vh;
    font-size: xx-large;
}

.input{
    color: black;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border-width:0;
    text-align: center;
    margin-bottom: 20px;
    font-size:  large;
    transition:  cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s ease, transform 0.3s ease;
}

.input:focus::placeholder {
    color: transparent;
}

.input::placeholder {
    transition: color 0.3s ease;
}

input:hover::placeholder{
    color: #e8e8e8;
}

input:hover{
    color: white;
    background-color: black;
    transform: scale(1.05);
}
